/* 可以滑动的一列选项盒子 */
.boxGroup {
  height: .32rem;
  margin: .2rem 0;
  /* 上面的和模板上的不一样,不过我觉得这样更好看一些 */
  /* overflow-x: scroll; */
  overflow-y: hidden;
  white-space: nowrap;
}

.outerBox {
  height: .3rem;
  width: 32.83%;

  position: relative;
  display: inline-block;
  vertical-align: top;
}

.Box {
  position: absolute;
  top: 0;
  left: 0;
  /* 真的需要么?↑ */

  border: 1px solid #DDDDDD;
  border-radius: .03rem;
  width: 100%;
  height: 100%;
}

input[type='radio'] {
  position: absolute;
  top: 0;
  left: 0;
  /* 真的需要么?↑ */

  width: 100%;
  height: 100%;
  opacity: 0;
}

.formerLable {
  position: absolute;
  top: 0;
  left: 10px;
  line-height: .3rem;
  color: #ccc;
}

.laterLable {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: .3rem;
}

input:checked+label {
  border: #F34949 1px solid;
}

input:checked+label>span.formerLable {
  color: #F34949;
}

input:unchecked+label {
  border: #ddd 1px solid;
}

input:unchecked+label>span.formerLable {
  color: #ccc;
}

@media (min-width:768px) {
  .boxGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .outerBox {
    width: 31%;
    /* 项目数量改变的时候不太方便 */
  }

  .outerBox>label{
    box-sizing: border-box;
  }
}




/* 用来评分的星星 */
.starGroup {
  font-size: 1.125em;
}

/* 图像的控制 */
/* 如果需要圆角的话,在界面上单独写一个规则 */
img {
  /* 让图像可以:宽度适应父元素的宽度,豪赌等比例缩放 */
  border-radius: inherit;
  width: 100%;
}

.imgWithRatio {
  /* 如果需要比例,就给img加上这个类 */
  /* 具体的比例用一个只包含图像的div规定 */
  height: 100%;
}

.imgContainer {
  /* 如果需要正方的图片,就:
  1.给图片加上上面的类
  2.用这个把图片包起来 */
  /* 这样的话,图片会自动变成父元素的100%width */
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}

button {
  border: none;
  border-radius: 0.08rem;
}

input[type='submit'] {
  border: none;
  border-radius: 0.08rem;
}