/* 可以滑动的一列选项盒子 */
.boxGroup {
  height: .32rem;
  margin: .2rem 0;
  /* 上面的和模板上的不一样,不过我觉得这样更好看一些 */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.Box {
  height: .3rem;
  width: 32.83%;
  border: 1px solid #DDDDDD;
  border-radius: .03rem;
  display: inline-block;
  position: relative;
  vertical-align: top;
  /* ↑不加这一行的话,元素会下沉 */
}

.activeBox {
  border: #F34949 1px solid;
}

.formerLable {
  padding-left: .1rem;
  line-height: .3rem;
}

.laterLable {
  position: absolute;
  top: 0;
  right: 10px;
  line-height: .3rem;
}

/* 用来评分的星星 */
.starGroup {
  font-size: 1.125em;
}

/* 图像的控制 */
.imgContainer {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0.1rem;
}

img {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}