h4 {
  margin: 0 .2rem .1rem;
}

.boxGroup {
  margin: .1rem .2rem .2rem;
}

input[type='submit'] {
  font-size: .12rem;
  line-height: .3rem;

  margin: .1rem .2rem .2rem;
  width: 3.35rem;
  height: .3rem;
  /* wemm先设置margin,然后就限制住了margin`-  */
}

@media screen and (max-width : 767px) {
  #nameAndStar {
    margin: .2rem .2rem 0;
  }

  .detailImg {
    border-radius: 0 0 .12rem .12rem;
  }

  .detail {
    margin: .2rem .2rem;
    line-height: 0.22rem;
  }
}

@media screen and (min-width:768px){
  body{
    
  }
}