body {
  background-color: #fafafa;
}

#deliverySec {
  margin: 21.6px 5.3% 0px;
}

#deliLable {
  display: inline-block;
  vertical-align: top;
  width: 0.07rem;
  height: 0.1rem;
  margin-right: 0.05rem;
}

#cityInfo {
  padding-top: 0.05rem;
}

#deLiMan-warp {
  float: right;
  height: .25rem;
  width: .25rem;
  margin: .03rem 0;
  border-radius: .125rem;
}



/* 推荐部分 */
.SectionTitleGroup {
  margin: .4rem .2rem 0px;
}

.headTitle {
  margin-bottom: 0.05rem;
}

.viewAll {
  float: right;
}

.viewall:visited {
  color: #F34949;
  text-decoration: none;
}

#recommendCard {
  box-sizing: border-box;
  position: relative;
  width: 89.3%;
  border-radius: .1rem;
  margin: .2rem .2rem;
  padding: .2rem;
  background-color: #ffffff;
  box-shadow: 0 .2rem .3rem 0 rgba(59, 59, 59, 0.05);
}

#recommendImg {
  margin-bottom: .2rem;
  border-radius: .1rem;
}

.bigButton {
  width: 100%;
  height: .3rem;
  text-align: center;
  /* ↑父元素上设置这个,子元素中的inline就会水平居中 */
}

.redButton {
  margin-top: .1rem;
}

#docurateBox {
  position: absolute;
  top: 4.05rem;
  left: .2rem;
  width: 2.95rem;
  height: 0.3rem;
  z-index: -1;

  background: #FFFFFF;
  box-shadow: 0 .05rem .2rem 0 rgba(59, 59, 59, 0.05);
  border-radius: .15rem;
}

.menuGridContainer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:.2rem;
  margin:0 .2rem;
}

@media (min-width:768px) {
  body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .2rem;
  }
  #deliAndRecoSection{
    grid-row:1/2;
    grid-column: 1/2;
  }

  #menuSection{
    grid-row:1/2;
    grid-column: 2/3;
  }
}