header {
  position: relative;
  text-align: center;
  margin-top: .2rem;
}

.backToHomeButton {
  position: absolute;
  height: .14rem;
  width: .21rem;
  top: .05rem;
}

a {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#MenuTitle {
  clear: both;
  display: inline;
}

.imgContainer {
  border-radius: 0.1rem;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.foodTextInfo {
  margin-top: 0.15rem;
}

.gridContainer {
  display: grid;
  grid-gap: .2rem;
}

@media screen and (max-width:450px) {

  /* 目标是大部分手机de竖屏 */
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    margin: .2rem;
  }
  .backToHomeButton {
    left: .2rem;
  }
}

@media screen and (min-width:451px) and (max-width:768px) {
  .gridContainer {
    margin: .2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .backToHomeButton {
    left: .2rem;
  }
}

@media screen and (min-width:769px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: .2rem .3rem;
  }
  .backToHomeButton {
    left: .3rem;
  }
}