body{
  overflow-x: hidden;
  width:3.75rem;
}
#showboard {
  width: 100%;
  padding-bottom: 123.46%;
  /* ↑用来占位,保证图片下面的内容不会窜上来 */
}

.pics {
  width: 100%;
  position: relative;
}

.pic {
  width: 3.35rem;
  height: 3.35rem;
  border-radius: 0.08rem;
  position: absolute;
  top: .2rem;
  left: 0rem;
}

img{
  position:absolute;
}

ul li {
  list-style: none;
}

/* 用来移动图片的动画↓ */

.toLeft{
  animation:movetoLeft 0.5s ease 1 both;
}

@keyframes movetoLeft{
  to{
    transform: translate(-3.25rem,0);
  }
}

.toCenter{
  animation:movetoCenter 0.5s ease 1 both;
}

@keyframes movetoCenter{
  to{
    transform: translate(0.2rem,0);
  }
}

.toRight{
  animation:movetoRight 0.5s ease 1 both;
}

@keyframes movetoRight{
  to{
    transform: translate(3.65rem,0);
  }
}

/* 随着图片变化的点↓ */
.points {
  font-size: 0.18rem;
  line-height: 0.05rem;
  letter-spacing: 0.1rem;
  margin:.2rem auto .8rem;
  text-align: center;
}

.titleUnderImg{
  margin:.2rem auto .1rem;
  text-align:center;
}

.infoUnderImg {
  font-size: 0.12rem;
  line-height: 0.18rem;
  margin: .1rem .2rem .2rem;
  text-align: center;
}

button {
  height: .3rem;
  width: 2.15rem;
  margin: 0 .8rem;
}

#QQButton {
  margin-bottom: 15px;
}
